.button{
    border:none;
    color:white;
    background-color: blue;
    padding: 15px 39px;
}
.content a{
    display: block;
  
    color: black;
    padding: 10px 32.5px;
    
    /* position: absolute; */
}
.container:hover .content{
    display: block;
}
.content{
    display: none;
    position: absolute;a
    background-color: rgb(161, 158, 158);
}